.registerContainer {
  grid-area: main;
  display: grid;
  grid-template-columns: 2, auto;
  grid-template-areas: "left left" "right right";
}

.registerContainer h2 {
  font-size: 2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.employeeReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  color: orangered;
  background-image: url("https://res.cloudinary.com/dtiuiyrdu/image/upload/v1652870788/undraw_Personal_file_re_5joy_wuvn3l.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.linkEmployee:hover {
  transform: scale(1.03);
}

.companyReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  color: orangered;
  border-left: 2px solid rgba(22, 22, 253, 0.281);
  background-image: url("https://res.cloudinary.com/dtiuiyrdu/image/upload/v1652870733/undraw_feeling_proud_qne1_wzebu8.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.linkReg {
  margin: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  height: 6%;
  width: 30%;
  background-color: rgb(22, 22, 253);
  text-decoration: none;
}

.linkReg:hover {
  transform: scale(1.03);
}
